@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $primary-color;
}

h2,
h3 {
    font-weight: 500;
    // color: $secondary-color;
    // color: $dark-gray;
}

p {
    color: $dark-gray;
}
