.header {
    display: flex;
    justify-content: space-between;
    gap: 38px;
    align-items: center;
    padding: 18px;

    .nav {
        display: none;
    }

    .header__logo {
        font-size: 16px;
        font-weight: 500;
    }
}
