.header {
    display: flex;
    justify-content: space-between;
    gap: 38px;
    align-items: center;
    padding: 18px;

    .nav {
        display: none;
    }

    .header__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .header__logo--text {
            font-size: 16px;
            font-weight: 500;
        }
    }
}
