@use "./variables";

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    gap: 38px;
    align-items: center;
    padding: 18px;

    .nav {
        display: none;
    }

    .header__desktop {
        display: none;
    }

    .header__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .header__logo--text {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        // background-color: variables.$light-gray;
        padding: 25px 75px;

        .font__normal {
            font-weight: 400;
        }

        .header__desktop {
            display: block;
            font-size: 20px;
        }

        .header__logo {
            display: none;
        }
        .header__menu-icon {
            display: none;
        }

        .nav {
            display: block;

            .nav__list {
                display: flex;
                gap: 38px;
                list-style: none;

                .nav__item {
                    text-decoration: none;
                    color: variables.$dark-gray;
                }

                .nav__button {
                    font-size: 14px;
                    background-color: variables.$secondary-color;
                    padding: 10px 14px;
                    color: variables.$dark-color;
                    font-weight: 500;
                    border-radius: 12px;
                    border: 1px solid variables.$dark-color;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        // background-color: variables.$light-gray;
        padding: 55px 95px;

        .font__normal {
            font-weight: 400;
        }

        .header__desktop {
            display: block;
            font-size: 20px;
        }

        .header__logo {
            display: none;
        }
        .header__menu-icon {
            display: none;
        }

        .nav {
            display: block;

            .nav__list {
                display: flex;
                gap: 38px;
                list-style: none;

                .nav__item {
                    text-decoration: none;
                    color: variables.$dark-gray;
                }

                .nav__button {
                    font-size: 14px;
                    background-color: variables.$secondary-color;
                    padding: 10px 14px;
                    color: variables.$dark-color;
                    font-weight: 500;
                    border-radius: 12px;
                    border: 1px solid variables.$dark-color;
                }
            }
        }
    }
}
