@use "./variables" as *;

.intro {
    height: 550px;
    background-color: $light-gray;
    margin: 12px;
    padding: 20px;

    .intro__greeting {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .intro__heading {
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 80px;
    }

    .intro__button {
        background-color: $secondary-color;
        color: $dark-color;
        text-decoration: none;
        padding: 18px 20px;
        border-radius: 4px;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;

        .flex__container {
            width: 65%;
            text-align: center;

            .intro__greeting {
                font-size: 26px;
            }

            .intro__heading {
                font-size: 55px;
            }

            .intro__button {
                border: 1px solid $dark-color;
                font-weight: 600;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;

        .flex__container {
            width: 65%;
            text-align: center;

            .intro__greeting {
                font-size: 26px;
            }

            .intro__heading {
                font-size: 55px;
            }

            .intro__button {
                border: 1px solid $dark-color;
                font-weight: 600;
            }
        }
    }
}
