@use "./variables" as *;

.intro {
    height: 750px;
    background-color: $light-gray;
    padding: 35px 55px;
    text-align: left;

    .intro__greeting {
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .intro__heading {
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 90px;
    }

    .intro__button {
        background-color: $secondary-color;
        color: #fff;
        text-decoration: none;
        padding: 16px 42px;
        border-radius: 50px;
        cursor: pointer;
    }

    .intro__hero-hide {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .flex__container {
            text-align: center;

            .intro__greeting {
                margin-top: 0;
                font-size: 22px;
            }

            .intro__heading {
                font-size: 64px;
            }

            .intro__button {
                border: 1px solid $primary-color;
                font-weight: 500;
                background-color: $secondary-color;
                color: #fff;
                padding: 16px 42px;
                transition: background-color 0.3s ease;
            }

            .intro__button:hover {
                background-color: $light-secondary;
                color: $dark-gray;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 35px;
        margin: 20px;

        .flex__container {
            text-align: left;
        }

        .intro__heading {
            margin-bottom: 56px;
        }

        .intro__hero-hide {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .intro {
        padding: 45px 80px;
        margin-top: 0;
    }
}
