@use "./variables";

.intro {
    height: 550px;
    // background-color: variables.$light-gray;
    margin: 12px;
    padding: 20px;

    .intro__greeting {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .intro__heading {
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 80px;
    }

    .intro__button {
        background-color: variables.$secondary-color;
        color: variables.$dark-color;
        text-decoration: none;
        padding: 18px 20px;
        border-radius: 4px;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        
    }
}
