@use "./variables" as *;

.projects {
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hide__project {
        display: none;
    }

    .projects__heading {
        text-align: center;
        margin-bottom: 45px;
        margin-top: 55px;
    }

    .projects__card {
        width: 290px; // Responsive (IPHONE SE)
        // width: 380px; // Responsive on all other mobile devices.
        height: 550px;
        margin-top: 12px;
        margin-bottom: 55px;

        .image__container {
            height: 225px;
            background-color: $dark-gray;
            border-radius: 8px;

            // overflow: hidden;
        }

        .projects__card-image {
            border-radius: 8px;
            object-fit: cover;
            width: 100%;
            height: 225px;
        }

        .projects__card-body {
            margin-top: 24px;

            .projects__card-language {
                color: $secondary-color;
                font-size: 12px;
            }

            .projects__card-subheading {
                font-size: 22px;
                margin-top: 10px;
            }

            .projects__card-description {
                margin-top: 24px;
                color: $dark-gray;
            }

            .card__buttons {
                margin-top: 20px;
                display: flex;
                gap: 12px;
                align-items: center;

                .card__flex {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 7px;
                }

                .card__button {
                    text-decoration: none;
                    color: $primary-color;
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (min-width: 760px) {
    .projects {
        .projects__heading {
            display: inline-block;
        }

        .hide__project {
            display: block;
        }

        .projects__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(auto, 1fr);
            gap: 30px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .projects {
        .projects__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto, 1fr);
        }
    }
}

@media screen and (min-width: 1440px) {
    .projects {
        margin-bottom: 120px;

        .projects__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto, 1fr);
        }
    }
}
