@use "./variables";

.skills {
    height: 300px;
    padding: 20px;
    text-align: center;
    margin-top: 45px;

    .skills__heading {
        margin-bottom: 45px;
        display: inline-block;
    }

    .skills__description-desktop {
        display: none;
    }

    .skills__icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        gap: 35px;
        margin: 20px;

        .skills__icon {
            width: 50px;
            height: 40px;
        }
    }
}

@media screen and (min-width: 760px) {
    .skills {
        margin-bottom: 160px;

        .skills__body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .skills__description-desktop {
                display: block;
                align-items: center;
                width: 45%;
                margin-bottom: 45px;
                color: variables.$dark-gray;
            }
        }

        .skills__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
        }
    }
}
