@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #070f2b;
  background-color: #fffdf6;
}

h2,
h3 {
  font-weight: 500;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 38px;
  align-items: center;
  padding: 18px;
}
.header .nav {
  display: none;
}
.header .header__desktop {
  display: none;
}
.header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.header .header__logo .header__logo--text {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 35px 95px;
  }
  .header .font__normal {
    font-weight: 400;
  }
  .header .header__desktop {
    display: block;
    font-size: 20px;
  }
  .header .header__logo {
    display: none;
  }
  .header .header__menu-icon {
    display: none;
  }
  .header .nav {
    display: block;
  }
  .header .nav .nav__list {
    display: flex;
    gap: 38px;
    list-style: none;
  }
  .header .nav .nav__list .nav__item {
    text-decoration: none;
    color: #8c9cb1;
  }
  .header .nav .nav__list .nav__button {
    font-size: 14px;
    background-color: #ffc600;
    padding: 10px 14px;
    color: #000;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid #000;
  }
}
.intro {
  height: 550px;
  margin: 12px;
  padding: 20px;
}
.intro .intro__greeting {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
.intro .intro__heading {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 80px;
}
.intro .intro__button {
  background-color: #ffc600;
  color: #000;
  text-decoration: none;
  padding: 18px 20px;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .intro {
    background-color: #f7fafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .intro .flex__container {
    width: 65%;
    text-align: center;
  }
  .intro .flex__container .intro__greeting {
    font-size: 26px;
  }
  .intro .flex__container .intro__heading {
    font-size: 55px;
  }
  .intro .flex__container .intro__button {
    border: 1px solid #000;
    font-weight: 600;
  }
}
.skills {
  height: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 45px;
}
.skills .skills__heading {
  margin-bottom: 45px;
  display: inline-block;
}
.skills .skills__description-desktop {
  display: none;
}
.skills .skills__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 35px;
  margin: 20px;
}
.skills .skills__icons .skills__icon {
  width: 50px;
  height: 40px;
}

@media screen and (min-width: 760px) {
  .skills {
    margin-bottom: 160px;
  }
  .skills .skills__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .skills .skills__body .skills__description-desktop {
    display: block;
    align-items: center;
    width: 45%;
    margin-bottom: 45px;
    color: #8c9cb1;
  }
  .skills .skills__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 100px;
}
.projects .projects__heading {
  text-align: center;
  margin-bottom: 45px;
}
.projects .projects__card {
  width: 290px;
  height: 550px;
  margin-top: 12px;
}
.projects .projects__card .image__container {
  background-color: #f7fafa;
  overflow: hidden;
  height: 240px;
  width: 100%;
}
.projects .projects__card .projects__card-image {
  width: 100%;
}
.projects .projects__card .projects__card-body {
  margin-top: 24px;
}
.projects .projects__card .projects__card-body .projects__card-language {
  color: #ffc600;
  font-size: 12px;
}
.projects .projects__card .projects__card-body .projects__card-subheading {
  font-size: 22px;
  margin-top: 10px;
}
.projects .projects__card .projects__card-body .projects__card-description {
  margin-top: 24px;
  color: #8c9cb1;
}
.projects .projects__card .projects__card-body .card__buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.projects .projects__card .projects__card-body .card__buttons .card__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.projects .projects__card .projects__card-body .card__buttons .card__button {
  text-decoration: none;
  color: #070f2b;
  font-size: 12px;
}

.about {
  padding: 35px;
  margin-bottom: 100px;
}
.about .about__heading {
  text-align: center;
  margin-bottom: 70px;
}
.about .about__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about__description {
  margin-top: 30px;
  color: #8c9cb1;
}

.footer {
  background-color: #070f2b;
  padding: 20px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__icons .footer__icon {
  width: 45px;
  height: 35px;
}
.footer .footer_copyright {
  color: #f7fafa;
  margin-top: 20px;
}

.underline {
  border-bottom: 4mm solid #fff0ce;
}/*# sourceMappingURL=styles.css.map */