@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #2d2e32;
}

h2,
h3 {
  font-weight: 500;
}

p {
  color: #555;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  height: 85px;
  display: flex;
  justify-content: space-between;
  gap: 38px;
  align-items: center;
  padding: 18px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
.header .nav {
  display: none;
}
.header .header__desktop {
  display: none;
}
.header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.header .header__logo .header__logo--text {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .header .font__normal {
    font-weight: 400;
  }
  .header .header__desktop {
    display: block;
    font-size: 20px;
  }
  .header .header__logo {
    display: none;
  }
  .header .header__menu-icon {
    display: none;
  }
  .header .nav {
    display: block;
  }
  .header .nav .nav__list {
    display: flex;
    gap: 38px;
    list-style: none;
  }
  .header .nav .nav__list .nav__item {
    text-decoration: none;
    color: #555;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .header .nav .nav__list .nav__item:hover {
    background-color: #caedff;
  }
  .header .nav .nav__list .nav__button {
    font-size: 14px;
    background-color: #147efb;
    color: #fff;
    padding: 10px 14px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid #555;
  }
  .header .nav .nav__list .nav__button:hover {
    color: #555;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 35px 95px;
  }
}
.intro {
  height: 750px;
  background-color: #f9f9f9;
  padding: 35px 55px;
  text-align: left;
}
.intro .intro__greeting {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 18px;
}
.intro .intro__heading {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 90px;
}
.intro .intro__button {
  background-color: #147efb;
  color: #fff;
  text-decoration: none;
  padding: 16px 42px;
  border-radius: 50px;
  cursor: pointer;
}
.intro .intro__hero-hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro .flex__container {
    text-align: center;
  }
  .intro .flex__container .intro__greeting {
    margin-top: 0;
    font-size: 22px;
  }
  .intro .flex__container .intro__heading {
    font-size: 64px;
  }
  .intro .flex__container .intro__button {
    border: 1px solid #2d2e32;
    font-weight: 500;
    background-color: #147efb;
    color: #fff;
    padding: 16px 42px;
    transition: background-color 0.3s ease;
  }
  .intro .flex__container .intro__button:hover {
    background-color: #caedff;
    color: #555;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 35px;
    margin: 20px;
  }
  .intro .flex__container {
    text-align: left;
  }
  .intro .intro__heading {
    margin-bottom: 56px;
  }
  .intro .intro__hero-hide {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .intro {
    padding: 45px 80px;
    margin-top: 0;
  }
}
.skills {
  height: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 140px;
}
.skills .skills__heading {
  margin-bottom: 45px;
  display: inline-block;
}
.skills .skills__description-desktop {
  display: none;
}
.skills .skills__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 35px;
  margin: 20px;
}
.skills .skills__icons .skills__icon {
  width: 50px;
  height: 40px;
}

@media screen and (min-width: 760px) {
  .skills {
    margin-bottom: 120px;
  }
  .skills .skills__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .skills .skills__body .skills__description-desktop {
    display: block;
    text-align: center;
    width: 65%;
    margin-bottom: 45px;
  }
  .skills .skills__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .skills .skills__icons {
    gap: 55px;
  }
}
@media screen and (min-width: 1440px) {
  .skills .skills__body .skills__description-desktop {
    width: 40%;
  }
  .skills .skills__icons {
    gap: 65px;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}
.projects .hide__project {
  display: none;
}
.projects .projects__heading {
  text-align: center;
  margin-bottom: 45px;
  margin-top: 55px;
}
.projects .projects__card {
  width: 290px;
  height: 550px;
  margin-top: 12px;
  margin-bottom: 55px;
}
.projects .projects__card .image__container {
  height: 225px;
  background-color: #caedff;
  border-radius: 8px;
}
.projects .projects__card .projects__card-image {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 225px;
}
.projects .projects__card .projects__card-body {
  margin-top: 24px;
}
.projects .projects__card .projects__card-body .projects__card-language {
  color: #147efb;
  font-size: 12px;
}
.projects .projects__card .projects__card-body .projects__card-subheading {
  font-size: 22px;
  margin-top: 10px;
}
.projects .projects__card .projects__card-body .projects__card-description {
  margin-top: 24px;
  color: #555;
}
.projects .projects__card .projects__card-body .card__buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.projects .projects__card .projects__card-body .card__buttons .card__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.projects .projects__card .projects__card-body .card__buttons .card__button {
  text-decoration: none;
  color: #2d2e32;
  font-size: 12px;
}

@media screen and (min-width: 760px) {
  .projects .projects__heading {
    display: inline-block;
  }
  .projects .hide__project {
    display: block;
  }
  .projects .projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .projects .projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
.about {
  padding: 25px;
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.about .about__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about__body .about__heading {
  text-align: center;
  margin-bottom: 55px;
  margin-top: 35px;
}
.about .about__body .about__description {
  color: #555;
  padding: 12px;
}
.about .about__body .second__paragraph {
  margin-top: 20px;
}
.about .about__image {
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 760px) {
  .about {
    margin-top: 0;
    padding: 120px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    margin: 160px 0px;
    padding: 0 15px;
    flex-direction: row;
  }
  .about .about__body {
    width: 85%;
  }
  .about .about__body .about__heading {
    text-align: left;
    margin-top: 0;
  }
  .about .about__body .about__description {
    padding: 0px;
  }
  .about .about__image {
    height: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding: 0 160px;
    margin-bottom: 120px;
  }
}
.footer {
  background-color: #2d2e32;
  padding: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__icons .footer__icon {
  width: 45px;
  height: 35px;
}
.footer .footer_copyright {
  color: #f9f9f9;
  margin-top: 20px;
}
.footer .footer__email {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .footer .footer__body {
    display: flex;
    gap: 12px;
    color: #f9f9f9;
    font-size: 15px;
  }
  .footer .footer__body .footer_copyright {
    margin-top: 0px;
  }
  .footer .footer__body .footer__email {
    display: inline-block;
    text-decoration: none;
    color: #f9f9f9;
  }
  .footer .footer__body .email__icon {
    margin-right: 4px;
  }
}
.underline {
  border-bottom: 4mm solid #caedff;
}/*# sourceMappingURL=styles.css.map */